<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- WebView 설정을 위한 Internet 접근 요청 -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".presentation.config.ApplicationClass"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_app_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RouteBox"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".presentation.ui.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="oauth"
                    android:scheme="kakao${KAKAO_API_KEY}" />
            </intent-filter>
        </activity>
        <activity android:name=".presentation.ui.auth.LoginActivity" />
        <activity android:name=".presentation.ui.MainActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".presentation.ui.auth.SignupActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".presentation.ui.seek.wallet.WalletActivity" />
        <activity android:name=".presentation.ui.seek.wallet.ChargeActivity" />
        <activity android:name=".presentation.ui.seek.wallet.RefundActivity" />
        <activity android:name=".presentation.ui.seek.wallet.RefundTermsContentActivity" />
        <activity android:name=".presentation.ui.seek.wallet.RefundCompleteActivity" />
        <activity android:name=".presentation.ui.seek.RoutePreviewDetailActivity" />
        <activity android:name=".presentation.ui.seek.comment.CommentActivity"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".presentation.ui.seek.search.FilterActivity"/>
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="${KAKAO_API_KEY}" />
    </application>

</manifest>